﻿@media only screen and (max-width: 600px) {

    /*MENU*/
    .top-menu .top-menu-container {
        overflow: hidden;
        width: 100%;
    }

        .top-menu .top-menu-container .logo {
            display: block;
            font-size: 20px;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

        .top-menu .top-menu-container .menu-items-container {
            display: block;
            font-weight: bold;
            width: 100%;
        }


            .top-menu .top-menu-container .menu-items-container ul li {
                display: inline;
                margin: 18px;
                font-size: 10px;
            }


    /*VIDEO*/
    .video-container {
        margin-top: 192px;
        height: unset;
        background-color: unset;
    }

        .video-container video {
            /*height: 80%;*/
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }


    /*LOTES*/

    #lotes.section {
        height: unset;
        display: flex;
        align-items: center;
        padding: 60px 0;
    }

    #lotes .section-container .title {
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }

        #lotes .section-container .title .number {
            display: block;
            font-size: 30px;
            margin-bottom: 8px;
        }

        #lotes .section-container .title .lotes-disponibles {
            display: block;
        }

    #lotes .section-container .content-title, #lotes p.content-text {
        padding: 0 40px;
        font-size: 18px;
        text-align: center;
    }

    #lotes .section-container .items-container .item {
        display: flex;
        flex-direction: column;
        flex: 1 0 49%;
        text-align: center;
        padding: 10px;
    }


    /*UBICACION*/
    #ubicacion {
        padding-top: 0;
        padding-bottom: 0;
        padding-top: 22px;
    }

    .mapouter_small {
        display: unset !important;
    }

    .mapouter_big {
        display: none;
    }

    .map-container {
        float: unset;
        text-align: center;
    }

    #ubicacion .ubicacion-container {
        display: block;
        float: unset;
        width: 100%;
        padding: 40px;
    }

        #ubicacion .ubicacion-container .items {
            text-align: center;
        }

            #ubicacion .ubicacion-container .items ul li {
                list-style-position: inside;
            }


        #ubicacion .ubicacion-container .ubicacion-column.colectivos {
            height: unset;
            padding: 30px 0;
        }


    .ubicacion-desktop {
        display: none;
    }

    .ubicacion-mobile {
        display: block;
        width: 100%;
        margin-top: 50px;
    }


    /*GALERIA*/
    #galeria_big {
        display: none;
    }

    #galeria_mobile {
        display: unset !important;
    }

    #galeria_mobile .fixed-image {
        width: 100%;
    }

        #galeria_mobile .galeria-title {
            width: 100%;
            height: 50px;
            margin-top: 50px;
            font-size: 20px;
            color: #0d2723;
            text-align: center;
            font-weight: bold;
        }

        #galeria_mobile .carousel-control, #galeria_mobile .carousel-control:focus, #galeria_mobile .carousel-control:hover, #galeria_mobile .carousel-control:active {
            color: #0d2723;
        }

            #galeria_mobile .carousel-control.left {
                left: -28px;
                background-image: unset;
            }

            #galeria_mobile .carousel-control.right {
                right: -28px;
                background-image: unset;
            }

        #galeria_mobile .frames-container {
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 40px;
        }


    /*CONTACTO*/
    #contacto .contacto-container {
        display: unset !important;
    }

    #contacto .contacto-title h3 {
        font-size: 30px;
    }

    #contacto .contacto-container .form-container {
        padding: 0 40px;
    }


    /*FOOTER*/
    #footer .footer-container .footer-box {
        padding: 0 0 0 12px;
        font-size: 12px;
    }
}
