﻿html {
    scroll-behavior: smooth;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.top-menu {
    background-color: #111f32;
    color: white;
    padding: 10px 0;
}

    .top-menu .top-menu-container {
        overflow: hidden;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .top-menu .top-menu-container .logo{
        float: left;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }
        .top-menu .top-menu-container .logo img{
            width: 200px;
        }

        .top-menu .top-menu-container .menu-items-container {
            float: right;
            padding-top: 8px;
        }
    

        .top-menu .top-menu-container .menu-items-container ul li{
            display: inline;
            margin: 18px;
            font-size: 20px;            
        }

            .top-menu .top-menu-container .menu-items-container ul li a {
                color: white;
            }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.video-container {
    height: calc(100vh);
    background-color: aliceblue;
    overflow-y: hidden;
    z-index: 0;
}

    .video-container video {
        /*height: 80%;*/
        
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .section {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .section-container{
        width: 100%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
        #lotes .section-container {
            background-color: white;
        }

        #lotes .section-container .title {
            text-align: center;
            color: black;
            font-weight: bold;
            font-size: 6vh;
            margin-left: auto;
            margin-right: auto;
        }

            #lotes .section-container .title .number {
                color: #111f32;
            }

        #lotes .section-container .items-container {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            flex: 4;
            flex-wrap: wrap;
        }

            #lotes .section-container .items-container .item {
                display: flex;
                flex-direction: column;
                flex: 1 0 19%; 
                text-align: center;
                padding: 10px;
            }

                #lotes .section-container .items-container .item .icon-box img{
                    width: 8vh;
                    height: 8vh;                    
                }

                #lotes .section-container .items-container .item > p {
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 20px;
                }

        #lotes .section-container .content-title {
            font-weight: bold;
            font-size: 2vh;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 28px;
        }

#lotes p.content-text {
    font-size: 1.6vh;
    text-align: center;
}


#ubicacion {
    background-color: #111f32;
    padding-top: 70px;
    padding-bottom: 70px;
}

.map-container {
    float: left;
}

.mapouter_big {
    position: relative;
    text-align: right;
}

    .mapouter_big .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 350px;
    }

.mapouter_small {
    display: none;
}

#ubicacion .ubicacion-container {
    float: left;
    width: calc(100% - 350px);
    color: white;
    padding-left: 50px;
    font-size: 15px;
}

#ubicacion .ubicacion-container .ubicacion-title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 26px;
}

.ubicacion-desktop{
    width: 100%;
    margin-top: -90px;
    display: block;
}

.ubicacion-mobile {
    display: none;
}

   .bold {
       font-weight: bold;
   }


#galeria_mobile {
    display: none;
}

#galeria_big {
    padding-top: 150px;
    padding-bottom: 150px;
}

    #galeria_big .images-container {
        background-color: #EFF0EB;
        width: 100%;
        height: 300px;
    }

    #galeria_big .galeria-section-container {
        width: 100%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    #galeria_big .galeria-title {
        width: 100%;
        height: 50px;
        margin-top: -50px;
        font-size: 20px;
        color: #111f32;
        text-align: center;
    }

    #galeria_big .galeria-section-container .content {
        width: 100%;
        overflow: hidden;
    }

    #galeria_big .section-container .content .fixed-image {
        width: 350px;
        margin-top: -26px;
        float: left;
    }

    #galeria_big .images-block {
        float: left;
        width: calc(100% - 350px);
    }

    #galeria_big .frames-container {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex: 10;
        align-items: center;
        height: 350px;
    }


#galeria_big .carousel-control, #galeria_big .carousel-control:focus, #galeria_big .carousel-control:hover, #galeria_big .carousel-control:active {
    color: #111f32;
}
    #galeria_big .carousel-control.left {
        left: -58px;
        background-image: unset;
    }
    #galeria_big .carousel-control.right {
        right: -58px;
        background-image: unset;
    }

#galeryPopup {
    display: none;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.popup_visible #galeryPopup {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#galeryPopup .popup-container{
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

    #galeryPopup .popup-container img {
        max-height: 80vh;
        flex: 10;
    }

    #galeryPopup .popup-container .left-btn {
        margin-right: 10px;
    }

    #galeryPopup .popup-container .right-btn {
        margin-left: 10px;
    }

    #galeryPopup .popup-container .galery-btn {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        color: black;
        flex: 1;
        font-weight: bold;
        text-align: center;
        font-size: 28px;
        cursor: pointer;
    }

.cloneditem-1, .cloneditem-2, .galeryPopup_open{
    cursor: pointer;
}

#contacto {
    background: url(/Content/resources/contacto-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px 0;
}

#contacto .contacto-container{
    display: flex;
}

    #contacto .contacto-container .contacto-title{
        flex: 1;
        align-items: center;
        
    }

    #contacto .contacto-container .form-container {
        flex: 1;
    }

        #contacto .contacto-container .form-container input, #contacto .contacto-container .form-container button {
            margin-top: 20px;
            margin-bottom: 3px;
        }

        #contacto .contacto-container .form-container textarea {
            margin-top: 20px;
            margin-bottom: 3px;
            height: 180px;
        }

        #contacto .contacto-container .form-container .validation-message {
            display: block;
            color: orangered;
            font-weight: bold;
        }

        #contacto .contacto-container .form-container .success-message {
            display: block;
            color: lightgreen;
            font-weight: bold;
            font-size: 20px;
        }

    #contacto .contacto-title {
        display: flex;
        align-items: center;
    }

        #contacto .contacto-title h3 {
            font-size: 38px;
            color: white;
            text-align: center;
            width: 100%;
        }


#footer {
    background-color: #111f32;
    color: white;
    padding: 60px 0;
}

    #footer .footer-container {
        display: flex;
        align-items: center;
    }

        #footer .footer-container .footer-box {
            flex: 1;
        }
