﻿<div id="contacto">
    <div class="section-container">
        <div class="contacto-container row">
            <div class="contacto-title col-12 col-sm-12">
                <h3>CONTACTANOS</h3>
            </div>
            <div class="form-container col-12 col-sm-12">
                <div>
                    <input class="form-control" placeholder="Nombre y Apellido" type="text" ng-model="vm.message.name" />
                    <span class="validation-message" ng-show="vm.messageFormTriggered && !vm.message.name">Por favor ingrese su nombre y apellido</span>

                    <input class="form-control" placeholder="Teléfono" type="text" ng-model="vm.message.phone" />
                    <span class="validation-message" ng-show="vm.messageFormTriggered && !vm.message.phone">Por favor ingrese su teléfono</span>

                    <input class="form-control" placeholder="Email" type="text" ng-model="vm.message.email" />
                    <span class="validation-message" ng-show="vm.messageFormTriggered && !vm.message.email">Por favor ingrese su email</span>

                    <textarea class="form-control" placeholder="Consulta" ng-model="vm.message.body"></textarea>
                    <span class="validation-message" ng-show="vm.messageFormTriggered && !vm.message.body">Por favor ingrese su consulta</span>
                    <span class="success-message" ng-show="vm.formSent">Su consulta ha sido enviada correctamente.</span>
                </div>
                <button type="button" class="btn btn-success" ng-click="vm.sendMessage()">ENVIAR</button>
            </div>
        </div>
    </div>
</div>