﻿<div id="footer">
    <div class="section-container">
        <div class="footer-container">
            <div class="footer-box">
                Blal lalal sarasa<br />
                Blal lalal sarasa<br />
                Blal lalal sarasa<br />
                Blal lalal sarasa<br />
                Blal lalal sarasa
            </div>
            <div class="footer-box">
                +54(379)4984218 <br />
                Corrientes capital <br />
                Brasil 1060 <br />
                barriolaflorida.corrientes@gmail.com
            </div>
            <div class="footer-box">
                SEGUINOS <br />
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
            </div>
        </div>
    </div>
</div>
