﻿<div id="galeria_big">
    <div class="galeria-background">
        <div class="images-container">
            <div class="section-container">
                <div class="content">
                    <a href="~/Content/resources/Proyecto.pdf" download>
                        <img src="~/Content/resources/descarga-proyecto.png" class="fixed-image" />
                    </a>

                    <div class="images-block">
                        <div class="galeria-title">GALERIA DE FOTOS</div>

                        <div class="frames-container">
                            <div class="carousel carousel-showsixmoveone slide" id="carousel123">
                                <div class="carousel-inner">
                                    <div class="item active" ng-click="vm.showImagePopup();">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/3.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/5.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/6.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/7.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/12.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/13.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/18.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/25.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/26.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/28.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a class="galeryPopup_open">
                                                <img src="~/Content/resources/gallery/29.jpg" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel123" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                <a class="right carousel-control" href="#carousel123" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page">
    <div id="galeryPopup">
        <div class="popup-container">
            <div class="left-btn galery-btn" ng-click="vm.previous()">
                <i class="fa fa-angle-left"></i>
            </div>

            <img ng-src="~/Content/resources/gallery/{{vm.images[vm.index]}}" />

            <div class="right-btn galery-btn"  ng-click="vm.next()">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>        
    </div>
</div>
