﻿<div id="lotes" class="section">
    <div class="section-container">
        <div class="title">
            <span class="number">60+ </span>
            <span class="lotes-disponibles">LOTES DISPONIBLES</span>
        </div>

        <div class="items-container">
            <div class="item">
                <div class="icon-box">
                    <img src="~/Content/resources/items/barrio_abierto.png" />
                </div>
                <p>Barrio abierto <br />sin expensas</p>
            </div>
            <div class="item">
                <div class="icon-box">
                    <img src="~/Content/resources/items/espacio_verde.png" />
                </div>
                <p>Espacios <br /> verdes</p>
            </div>
            <div class="item">
                <div class="icon-box">
                    <img src="~/Content/resources/items/apto_comercial.png" />
                </div>
                <p>Apto para<br />uso comercial</p>
            </div>
            <div class="item">
                <div class="icon-box">
                    <img src="~/Content/resources/items/servicios.png" />
                </div>
                <p>Servicios <br />incluidos</p>
            </div>
            <div class="item">
                <div class="icon-box">
                    <img src="~/Content/resources/items/comercios_cercanos.png" />
                </div>
                <p>Comercios <br />cercanos</p>
            </div>
        </div>

        <div class="content-title">Este proyecto comenzó el año 1232123123 antes de Cristo</div>
        <p class="content-text">
            La Florida es un complejo urbanístico destinado principalmente para los correntinos que desean alejarse de zona céntrica para vivir en un ámbito más relajado y natural. <br /><br />
            La Florida se destaca por su ubicación geográfica emplazada en las intersecciones de Avenida Libertad y Ruta Nacional Nº 12, frente al Aeropuerto Internacional Pirayini Niveiro, a tan solo 15 minutos del microcentro de ciudad capital, y actualmente a pocos metros de comercios de primera necesidad como los son supermercados, farmacias y estaciones de servicio.<br /><br />
            La urbanización prevee 4 manzanas con los correspondientes servicios de agua potable y electricidad. Cuenta también con un idóneo plan de arborización de especies autóctonas para contar con un paisaje de árboles florecidos durante la mayor parte del año.<br /><br />
            Estos y muchos motivos más, hacen que La Florida sea el complejo urbanístico más requerido.
        </p>
    </div>
</div>