﻿<div class="top-menu sticky">
    <div class="top-menu-container">
        <div class="logo">
            <a href="#video"><img src="~/Content/resources/logo.png" /></a>
        </div>
        <div class="menu-items-container">
            <ul>
                <li><a href="#video">INICIO</a></li>
                <li><a href="#lotes">PROYECTO</a></li>
                <li><a href="#ubicacion">UBICACION</a></li>
                <li><a href="#galeria">GALERIA</a></li>
                <li><a href="#contacto">CONTACTO</a></li>
            </ul>
        </div>
    </div>
</div>
