﻿<div id="ubicacion">
    <div class="section-container" style="overflow: hidden;">
        <div class="map-container">
            <div class="mapouter_big">
                <div class="gmap_canvas">
                    <iframe width="350" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=corrientes%20ruta%2012%20y%20rio%20chico&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>

            <div class="mapouter_small">
                <div class="gmap_canvas">
                    <iframe height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=corrientes%20ruta%2012%20y%20rio%20chico&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
        <div class="ubicacion-container">
            <div class="ubicacion-title">
                UBICACIÓN
            </div>

            <div>
                <strong>La Florida</strong> se encuentra al sur de la Ciudad de Corrientes, en la intersección entre Ruta Nacional 12 y Av. Libertad. <br />

                Por su estratégica ubicación se puede acceder por distintos caminos como ser por Ruta 12 desde Posadas (Misiones),
                por Ruta 12 desde Riachuelo, por conexión con Ruta 5 de San Luis del Palmar o desde el centro de la Capital por Av. Libertad,
                por Río Chico o por Av. Independencia. <br />

                Actualmente, se encuentra en ejecución una obra que convertirá a la Ruta 12 en una autovía que conectará directamente Riachielo hasta
                el ingreso a Santa Ana. <br /><br />

                <strong>·Acceso principal sobre Ruta 12 y Av. Libertad.</strong><br />
                <strong>·A tan solo:</strong>

                <img class="ubicacion-desktop" src="~/Content/resources/ubicacion_desktop.png" />
                <img class="ubicacion-mobile" src="~/Content/resources/ubicacion_mobile.png" />
            </div>

        </div>

    </div>
</div>