﻿
    <div ng-controller="homeController as vm">
        @Html.Partial("_Menu")

        @Html.Partial("_Video")

        @Html.Partial("_Lotes")

        @Html.Partial("_Ubicacion")

        <div id="galeria"></div>
        @Html.Partial("_Galeria")
        @Html.Partial("_Galeria_Mobile")

        @Html.Partial("_Contacto")

        @Html.Partial("_Footer")
    </div>

@section scripts{
    @Scripts.Render("~/app/homeController.js")
}